.controller.custom {
    background: url(base3.png);
    width: 969px;
    height: 843px;    
    position: absolute;
    background-repeat: no-repeat;
}

.custom .triggers {
    width: 598px;
    height: 145px;
    position: absolute;
    left: 185px;
}

.custom .trigger {
    width: 118px;
    height: 162px;
    background: url(triggers.png);
    opacity: 0;
    position: relative;
}

.custom .trigger.pressed {
    opacity: 1 !important;
}

.custom .trigger.left {
    float: left;
    background-position: 0 0;
    left: -63px;
    top: 8px;
}

.custom .trigger.right {
    float: right;
    background-position: 119px 0;
    left: 63px;
    top: 8px;
}

.custom .bumpers {
    position: absolute;
}

.custom .bumper {
    position: absolute;
    width: 969px;
    height: 843px; 
    opacity: 0;
}

.custom .bumper.pressed {
    opacity: 1 !important;
}

.custom .bumper.left {
    background: url(bumper-left-large.png);
}

.bumper.right {
    background: url(bumper-right-large.png);
}

/* start-back */

.custom .arrows {
    position: absolute;
    width: 191px;
    height: 46px;
    top: 309px;
    left: 389px;
}

.custom .back, .custom .start {
    background: url(start-select.png);
    width: 46px;
    height: 61px;
    opacity: 0;
    scale: 80%;
    position: relative;
}

.custom .back.pressed, .custom .start.pressed {
    opacity: 1;
}

.custom .back {
    float: left;
    left: -155px;
    top: -112px;
    background-position: 0 0;
    background-color: aquas;
}

.custom .start {
    float: right;
    left: 155px;
    top: -112px;
    background-position: 46px 0px;
    background-color: aquas;
}

/*  */

.custom .abxy {
    position: absolute;
    width: 268px;
    height: 263px;
    top: 203px;
    left: 658px;
}

.custom .button {
    position: absolute;
    background: url(abxy.png);
    width: 268px;
    height: 263px;
    scale: 80%;
    opacity: 0;
}

.custom .button.pressed {
    opacity: 1;
}

.custom .a {
    background-position: 176px 88px;
    width: 88px;
    height: 88px;
    background-color: aquaa;
    top: 156px;
    left: 92px;
}

.custom .b {
    background-position: 88px -88px;
    width: 88px;
    height: 88px;
    background-color: aquaa;
    top: 88px;
    left: 163px;
}

.custom .x {
    background-position: 0px 0px;
    width: 88px;
    height: 88opx;
    background-color: aquaa;
    top: 0px;
    left: 19px;
}

.custom .y {
    background-position: 0px 0px;
    width: 88opx;
    height: 88px;
    background-color: aquaa;
    top: 17px;
    left: 0px;
}

/* Sticks */

.custom .sticks {
    position: absolute;
    width: 364px;
    height: 100px;
    top: 445px;
    left: 330px;
    background-repeat: no-repeat;
}

.custom .stick {
    position: absolute;
    background: url(sticks.png);
    height: 116px;
    width: 116px;
    background-repeat: no-repeat;
}

.custom .stick.pressed.left {
    background-position-x: -118px;
}

.custom .stick.pressed.right {
    background-position-x: -118px;
}

.custom .stick.left {
    top: -40px;
    left: -64px;
}

.custom .stick.right {
    top: -40px;
    left: 256px;
}

/* DPAD */

.custom .dpad {
    position: absolute;
    top: 468px;
    left: 228px;
}

.custom .face {
    position: absolute;
    width: 222px;
    height: 216px;
    opacity: 0;
}

.custom .face.pressed {
    opacity: 1 !important;
}

.custom .face.up {
    background: url(Up.png);
    left: -163px;
    top: -244px;
    width: 222px;
    height: 216px;
    scale: 79%;
}

.custom .face.down {
    background: url(Down.png);
    left: -163px;
    top: -244px;
    width: 222px;
    height: 216px;
    scale: 79%;
}

.custom .face.left {
    background: url(Left.png);    
    left: -163px;
    top: -244px;
    width: 222px;
    height: 216px;
    scale: 79%;
}

.custom .face.right {
    background: url(Right.png);
    left: -163px;
    top: -244px;
    width: 222px;
    height: 216px;
    scale: 79%;
}
